{% load static %}

<!-- Field -->
<ul id="field" hx-target="#field" hx-get="{% url "main:map" %}" hx-trigger="{% if not debug %}every 1s{% endif %}" class="flex-grow-1 list-group list-group-flush overflow-auto" style="min-height:35%;">
  {% if tile.description %}
    <div class="p-2 mb-1">
      {{ tile.description }}
    </div>
  {% endif %}
  {% for player in other_players %}
    <li class="list-group-item"><a href="#">{{ player.user.username }}</a> ({{ player.level}})</li>
  {% endfor %}
  {% for npc in tile.npcs %}
    <li class="list-group-item"><a href="#">{{ npc.kind_name }}</a> ({{ npc.level }})</li>
  {% endfor %}
</ul>

<!-- Mini map -->
<div id="mini-map" hx-swap-oob="true" class="overflow-hidden">
  {% for row in mini_map.renderable_tiles %}
    <div style="margin-bottom:-6px;" class="d-flex">
      {% for tile in row %}
        <div class="d-flex">
          {% if tile.x >= player.x|add:-1 and tile.y >= player.y|add:-1 and tile.x <= player.x|add:1 and tile.y <= player.y|add:1 and not tile.obstacle %}
            <a href="#" onclick="htmx.trigger('#field', 'htmx:abort')" hx-target="#field" hx-post="{% url 'main:walk' x=tile.x y=tile.y %}">
          {% endif %}
          <div style="
            {% if tile.x < player.x|add:-1 or tile.y < player.y|add:-1 or tile.x > player.x|add:1 or tile.y > player.y|add:1 %}filter: brightness(0.8);{% endif %}
            "
            class="position-relative">
            <!-- Players -->
            {% for player in tile.players %}
              <img style="z-index:100;" class="position-absolute img-fluid crispy" width="128" height="128" src="{% static player.avatar_path %}" alt="The player's avatar"></img>
            {% endfor %}
            <!-- NPCs -->
            {% for npc in tile.npcs %}
              <img style="z-index:75;" class="position-absolute img-fluid crispy" width="128" height="128" src="{% static npc.avatar_path %}" alt="A {{ npc.kind_name }}"></img>
            {% endfor %}
            <!-- Map tiles -->
            {% for image_path in tile.image_paths reversed %}
              {% if forloop.first %}
                <img style="z-index:50;" class="{% if tile.image_paths|length > 1 %}position-absolute{% endif %} crispy img-fluid" width="128" height="128" src="{% static image_path %}"/>
              {% elif forloop.last %}
                <img style="z-index:10;" class="crispy img-fluid" width="128" height="128" src="{% static image_path %}" />
              {% else %}
                <img style="z-index:25;" class="position-absolute crispy img-fluid" width="128" height="128" src="{% static image_path %}"/>
              {% endif %}
            {% endfor %}
          </div>
          {% if tile.x >= player.x|add:-1 and tile.y >= player.y|add:-1 and tile.x <= player.x|add:1 and tile.y <= player.y|add:1 and not tile.obstacle %}
            </a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>

{% if request.htmx %}
  {% include 'main/_chat_lines.html' %}
{% endif %}
