{% extends 'base.html' %}

{% load static %}

{% block navigation %}
{% endblock navigation %}

{% block content %}
  <div style="max-width:600px;" class="mx-auto vh-100">
    <!-- Top content -->
    {% block main_top %}
      <div class="d-flex card my-1" style="height:60%;">
        <div class="card-header">
          <h5 class="card-title">
            {% block main_title %}
              Override main_title
            {% endblock main_title %}
          </h5>
          <h6 class="card-subtitle mb-2 text-muted">
            {% block main_subtitle %}
              Override main_subtitle
            {% endblock main_subtitle %}
          </h6>
        </div>
        {% block main_top_content %}
          Override main_top_content
        {% endblock main_top_content %}
      </div>
    {% endblock main_top %}

    <!-- Navigation -->
    <div class="my-1" style="max-height:10%;">
      {% with request.resolver_match.url_name as url_name %}
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link {% if url_name == 'map' %}active{% endif %}" href="{% url 'main:map' %}">Map ({{ player.x }}, {{ player.y }})</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if url_name == 'inventory' %}active{% endif %}" href="{% url 'main:inventory' %}">Inventory (256gp)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if url_name == 'character' %}active{% endif %}" href="{% url 'main:character' %}">Character (12/16)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if url_name == 'settings' %}active{% endif %}" href="{% url 'main:settings' %}">Settings</a>
          </li>
        </ul>
      {% endwith %}
    </div>

    <!-- Chat -->
    {% include 'main/_chat.html' %}

  </div>
{% endblock content %}
