{% extends 'base.html' %}

{% load static %}

{% block navigation %}
{% endblock navigation %}

{% block content %}
  <div class="vh-100">

    <!-- Top -->
    {% block main_top %}
      <div class="card my-1" style="height:60%;">
        <div class="card-header">
          <h5 class="card-title">
            {% block main_title %}
              Override main_title
            {% endblock main_title %}
          </h5>
          <h6 class="card-subtitle mb-2 text-muted">
            {% block main_subtitle %}
              Override main_subtitle
            {% endblock main_subtitle %}
          </h6>
        </div>
        {% block main_top_content %}
          Override main_top_content
        {% endblock main_top_content %}
      </div>
    {% endblock main_top %}

    <!-- Navigation -->
    <div class="my-1" style="max-height:10%;">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="#">Map</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Inventory</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Character</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Settings</a>
        </li>
      </ul>
    </div>

    <!-- Chat -->
    <div class="overflow-auto" style="max-height:30%;">
      <ul class="list-group">
        <li class="list-group-item">(1:15pm) The world is online and alive.</li>
        <li class="list-group-item">josef: (1:20pm): finally it works :)</li>
        <li class="list-group-item">(1:30pm) A meteorite hit the world somewhere.</li>
        <li class="list-group-item">josef: (1:49pm): buuuuuuuuuuuuugs everywhere</li>
        <li class="list-group-item">tylmarple (1:51pm): how did I land here?</li>
        <li class="list-group-item">nunchi__ (1:55pm): pumpernickel!</li>
      </ul>
    </div>
  </div>
{% endblock content %}
