{% extends 'main/base.html' %}

{% load static %}

{% block navigation %}
{% endblock navigation %}

{% block main_title %}
  Inventory
{% endblock main_title %}

{% block main_subtitle %}
  Gold (245)
{% endblock main_subtitle %}

{% block main_top_content %}
  <!-- Items -->
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="#">Jar of honey</a> - <a href="#">Eat</a></li>
    <li class="list-group-item"><a href="#">Mango salad</a> - <a href="#">Eat</a></li>
    <li class="list-group-item"><a href="#">Easter salad</a> - <a href="#">Eat</a></li>
  </ul>
{% endblock main_top_content %}
