{% extends 'main/base.html' %}

{% load static %}

{% block navigation %}
{% endblock navigation %}

{% block main_title %}
  Laketown
{% endblock main_title %}

{% block main_subtitle %}
  Meadows ({{ player.x }}, {{ player.y }})
{% endblock main_subtitle %}

{% block main_description %}
  To the north you see the sun reflected in big lakes.
{% endblock main_description %}

{% block main_top_content %}
  <ul class="flex-grow-1 list-group list-group-flush overflow-auto" style="min-height:35%;">
    <li class="list-group-item"><a href="#">Wizard</a> (4) - <a href="#">Attack</a></li>
    <li class="list-group-item"><a href="#">Shopkeeper</a> - <a href="#">Trade</a></li>
    <li class="list-group-item"><a href="#">Bee</a> (1) - <a href="#">Attack</a></li>
    <li class="list-group-item"><a href="#">Jar of honey</a> - <a href="#">Pick up</a></li>
    <li class="list-group-item"><a href="#">Gold</a> (245) - <a href="#">Pick up</a></li>
  </ul>

  <!-- Mini map -->
  <div id="mini-map" class="overflow-hidden">
    {% for row in mini_map|slice:":9" %}
      <div style="margin-bottom:-6px;" class="d-flex">
        {% for tile in row %}
          <div class="d-flex">
            <form style="
              {% if tile.x == player.x and tile.y == player.y %}filter: brightness(0.2);{% endif %}
              {% if not tile.walkable %}filter: brightness(0.7);{% endif %}"
              class="position-relative" action="{% url 'main:walk' %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="x" value="{{ tile.x }}">
              <input type="hidden" name="y" value="{{ tile.y }}">
              {% for image_path in tile.image_paths reversed %}
                {% if forloop.first %}
                  {% if tile.walkable %}
                    <input type="image" name="image" class="{% if tile.image_paths|length > 1 %}position-absolute{% endif %} tile-image img-fluid" width="128" height="128" src="{% static image_path %}">
                  {% else %}
                    <img class="{% if tile.image_paths|length > 1 %}position-absolute{% endif %} tile-image img-fluid" width="128" height="128" src="{% static image_path %}"/>
                  {% endif %}
                {% elif forloop.last %}
                  <img class="tile-image img-fluid" width="128" height="128" src="{% static image_path %}" />
                {% else %}
                  <img class="position-absolute tile-image img-fluid" width="128" height="128" src="{% static image_path %}"/>
                {% endif %}
              {% endfor %}
            </form>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
{% endblock main_top_content %}
